<div *ngIf="receipt !== undefined ;else otherContent"  id="receipt">
    <label>receiptNumber: </label>
    <span >{{receipt?.receiptNum}}</span>
    <br>
    <app-customer  [customer]="receipt.customer">
    </app-customer>
    <label>amountToPay: </label>
    <span >{{receipt?.amountToPay}}</span>
    <br>
    <label>paymentMethods: </label>
    <span >{{receipt.paymentType}}</span>
    <br>
    <label>date:  </label><br>
    <span >{{receipt.date|date}}</span>
    <br>
    <label>description:  </label>
    <span>{{receipt.description}}</span>
    <br>
</div>

<ng-template #otherContent>
<form [formGroup]="myForm" id="receipt"  (submit)="AddReceipt()">
    <h4>add receipt</h4>
    <label>receiptNumber: </label>
    <span > {{receiptNum}}</span> <br>
    <label>customer name</label>
        
        <select formControlName="customerName">
            <option *ngFor="let c of customers" value="{{c.name}}">{{c.name}}</option>
        </select><br>

        <button (click)="add()" *ngIf="!newCust">add a new customer</button>
    <div *ngIf="newCust">
        <form [formGroup]="newCustomerForm" (submit)="saveCustomer()" id="new">
            <label>Name</label>
            <input type="text" formControlName="customerName">
            <label>Number</label>
            <input type="number" formControlName="customerNum">
         <br>   <input type="submit" value="save">
        </form>
    </div>
<br>
    <label>amountToPay: </label>
    <input pInputText type="number" formControlName="amountToPay"/>
    <br>
    <label>paymentType: </label>
    <select formControlName="paymentType">
        <option value="cash">cash</option>
        <option value="credit">credit card</option>
        <option value="bankTransfer">bank transfer</option>
    </select>
    <br>
    <label>date: </label><br>
    <input pInputText type="date" formControlName="date"/>
    <label [innerText]="getStartDateErrorString()"></label>
    <br>
    <label>description: </label>
    <input pInputText type="text" formControlName="description"/>
    <br>
    <input type="submit" value=" save " id="in"/>

</form>


</ng-template>

