<!-- <p>expenses-per-customer works!</p> -->
<div *ngIf="!letExpensesPerCustomer" id="card">
    <form [formGroup]="myForm" (submit)="getExpensesPerCustomer()">
        <label>Select customer name</label>
        <br><br>
        <div>
            <select formControlName="customerName">
                <option *ngFor="let c of customers" value="{{c.name}}">{{c.name}}</option>
            </select>
        </div>
        <p>
            <input type="submit" id="submit" value="Save">
        </p>
    </form>
</div>


<div *ngIf="letExpensesPerCustomer" class="a">
    <app-receipt *ngFor="let item of receipts" [receipt]="item"></app-receipt>
</div>