<p>data-segmentation works!</p>
<div>
    <nav style="display: flex; flex-direction: row;">
        <a routerLink="customer" routerLinkActive="active" >according to customer</a>
        <a routerLink="dates" routerLinkActive="active">between date ranges</a>
        <a routerLink="month" routerLinkActive="active">by month</a>
        <a routerLink="year" routerLinkActive="active">by year</a>

    </nav>

</div>
<!-- <div style="display: flex;flex-direction: column;">
    <input type="button" value="according to customer" (click)="customer()" style="margin: 1.5%;width: 500px;height: 150px;"/>
    <div *ngIf="cust">
        <h1>customers</h1>
    </div>
    <input type="button" value="between date ranges" (click)="dates()"
        style="margin: 1.5%;width: 500px;height: 150px;" />
        
    <input type="button" value="by month" (click)="month()" style="margin: 1.5%;width: 500px;height: 150px;" />
    <input type="button" value="by year" (click)="year()" style="margin: 1.5%;width: 500px;height: 150px;" />

</div> -->



<!-- <div *ngIf="byMonth">
    <h1>by month</h1>
</div>
<div *ngIf="byYear">
    <h1>by year</h1>
</div> -->