<!-- <p>customer works!</p> -->
<div *ngIf="customer!== undefined">
    <label>customer name:</label>
    <span>{{customer.name}}</span><br>
    <label>customer number:</label>
    <span>{{customer.number}}</span>
    </div>
    <!-- <ng-template #otherContent>
    <form (submit)="AddCustomer()">
        <div>customer first name:</div>
        <input type="text" >
        <div>customer last name:</div>
        <input type="text" >
        <div>customer number:</div>
        <input type="text" >
          </form>
    </ng-template> -->