<!-- <app-customer></app-customer>
<app-receipt-list></app-receipt-list>
<app-receipt></app-receipt> -->
<!-- <app-nav-bar></app-nav-bar> -->
 
<div style="display: flex;flex-direction: row;width: 100%;">
<nav class="nav">
   
            <a routerLink="receipt" routerLinkActive="active">add receipt</a>
            <!-- <i class="pi pi-book"></i> -->
       
            <a routerLink="customer" routerLinkActive="active">list of customers</a>
            <!-- <i class="pi  pi-users"></i> -->
            <a routerLink="receipt-list" routerLinkActive="active">receipt-list</a>
            <!-- <i class="pi pi-book"></i> -->
            <a routerLink="expenses" routerLinkActive="active">add expense</a>
            <!-- <i class="pi pi-user"></i> -->
            <a routerLink="data-segmentation" routerLinkActive="active">data segmentation</a>

 </nav>

<router-outlet/>
</div>