<!-- <p>expenses-by-date-range works!</p> -->
<form [formGroup]="myForm" (submit)="getExpensesByDateRange()" *ngIf="!show">
    <div>
        <label>choose a start date </label><br>
        <input type="date" formControlName="startDate">
        <br><br>
        <label>choose an end date</label><br>
        <input type="date" formControlName="endDate">
        <br><br>
        <label>Select income or expenses</label><br>
        <select formControlName="incomeOrExpenses">
            <option value="expenses">expenses</option>
            <option value="incomes">incomes</option>
        </select>
    </div>
        <input type="submit" value="Save">
</form>


<!-- <div *ngIf="date">
    <form [formGroup]="myForm" (submit)="showByDates()" >
    <h2>between dates</h2>
    <label>choose a start date </label><br>
    <input type="date" formControlName="startDate"/><br>
    <label>choose an end date</label><br>
    <input type="date" formControlName="endDate"/><br>
    <label>Select income or expenses</label><br>
    <select formControlName="incomeOrExpenses">
        <option value="expenses">expenses</option>
        <option value="incomes">incomes</option>
    </select><br>
    <input type="submit" value="Save">
</form>
</div> -->



<div *ngIf="show&&receipts!==undefined">
    <app-receipt *ngFor="let item of receipts" [receipt]="item">
    </app-receipt>
</div>
<div *ngIf="show&&expenses!==undefined">
    <app-expenses *ngFor="let item of expenses" [expenses]="item">
    </app-expenses>
</div>